html {
	
}
/*设定图片的最大宽高为外层div的宽高*/
img {
	max-width: 100%;
  	max-height: 100%;
}

header {
	position: relative;
	height: 70px;
	margin-top: -2px;
	text-align: center;
	background-image: url("../images/header-bg.jpg");
}

header > div {
	height:100%;
	float: left;
	padding-top: 4px;
}

header div .title {
	height: 100%;
	width: 100%;
	font-size: 32px;
	/*text-align: center;*/
	/*vertical-align:middle;*/
	margin-bottom: -10px;
	padding-top: 12px;
}

header .sys-info {
	position: absolute;
	right:15px;
}

header .sys-info p{
	margin-bottom: -10px;
	/*height:100%;*/
	float: left;
	width: 100px;
	margin-top: 40px;

}


header a, a:link, a:hover, a:active, a:visited {
	text-decoration:none;
}



body {
	background-color: rgb(247,243,247);

}


.container-fluid {
	background-color: #3A92FF;
	/*height: 500px;*/
}


.login-form {
	background-color: #cccccc;
	width: 30%;
	height: 300px;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	min-height: 330px;
	min-width: 480px;
	/*padding: 30px;*/
}


.login-form-title {
	background-color: #dddddd;
	text-align: center;
	
}

.login-form-title h3{
	margin-top: 20px;
	margin-bottom:20px; 
}

.login-form .form-group {
	margin-bottom: 40px;
	margin-left: 0px;
	margin-right: 0px;

}