.box1 {
    height: auto;
    padding: 15px 0;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.btn:nth-child(1){
    margin-left: 10px;
}

.table {
    margin-bottom: 50px;
    margin-top: 20px;
}
tr{
    cursor: default;
}

td {
    border: 1px solid;
}

ul {
    float: left;
    margin: 0;
    height: auto;
    padding: 0;
}

li {
    float: left;
    margin: 8px;
    list-style: none;
}

input {
    margin-left: 5px;
}

.text {
    border: 1px solid;
    height: auto;
    padding: 0 10px;
    margin: 0 10px;
}

.text1 {
    border: 1px solid;
    height: 180px;
}

.text1 p {
    background: #9d9d9d;
    border-radius: 2px;
}

.text1 .p {
    width: 50%;
    display: inline-block;
}

.text1 span {
    background: #9d9d9d;
    width: 49.7%;
    display: inline-block;
}

.text1 .left {
    width: 50%;
    display: inline-block;
    float: left;
    border-right: 1px solid;
    height: 179px;
    padding: 0 5px;
}

.text1 .left p {
    border-radius: 0;
    background: #fff;
}

.text1 .left table {
    width: 100%;
}

.text1 .right {
    padding: 0 5px;
    width: 50%;
    display: inline-block;
}

.text1 .right table {
    width: 100%;
    overflow: scroll;
    height: 128px;
}

.text1 .right .table-list {
    overflow-x: auto;
    overflow-y: auto;
    height: 99px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid;
}
.text1 .right p {
    border-radius: 0;
    background: #fff;
}

.text1 .right span {
    width: auto;
    background: #fff;
}

.text1 .right input {
    height: 22px;
    margin-left: 0;
}


