.left-container {
	height: 100%;
	background-color: #FBC6C1;
	padding-left: 0px;
	padding-right: 0px;
}

.left-container .top-panel {
	height: 80%;
	background-color: #FB0408;
}

.left-container .bottom-panel {
	height: 20%;
	background-color: #FEA5A6;
}



.left-container .top-panel .top-panel-view {
	position: relative;
	width: 96%;
	height: 100%;
	background-color: #22BB07;
	float: left;
	background-image: url("../images/pane1.jpg");
	background-size: cover;
}

.left-container .top-panel .top-panel-to {
	background-color: #FCF0E3;
	position: absolute;
	width: 100%;
	height: 20%;
	left: 0px;
	bottom: 0px;
	border:1px solid #000;
	display: block;
}



.left-container .top-panel .top-panel-to .table-head {
	padding-right:17px;
	background-color:#999;
	color:#000;
	height: 20%;
}

.left-container .top-panel .top-panel-to .table-head table td {
	width: 10%;
}

.left-container .top-panel .top-panel-to .table-body {
	width: 100%;
	height: 100%px;
	overflow-y: scroll;
	height: 80%;
}

.left-container .top-panel .top-panel-to .table-body table td {
	width: 10%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

}

.left-container .top-panel .top-panel-to .table-head table,
.table-body table {
	width: 100%;
	table-layout: fixed;
}

.left-container .top-panel .top-panel-to .table-body table tr:nth-child(2n+1) {
	background-color: #FEB98B;
}



.left-container .top-panel .top-panel-operation {
	width: 4%;
	height: 100%;
	background-color: #3111B0;
	float: left;
}

.left-container .top-panel .top-panel-operation .operation-list {
	list-style: none;
	padding-left: 15%;
	padding-right: 15%;
}

.left-container .top-panel .top-panel-operation .operation-list li {
	/*/line-height: 40px;*/
	padding: 15%;
	margin-top: 8px;
}

.left-container .top-panel .top-panel-operation .operation-list li img {
	width: 25px;
	height: 25px;
	cursor:pointer;
}

.left-container .bottom-panel .bottom-panel-title {
	width: 3%;
	background-color: #3E18D8;
	height: 100%;
	float: left;
	font-size: large;
	font-weight:bold;
	padding-top: 3%;
	padding-left: 0.5%;
	padding-right: 0.5%;
}

.left-container .bottom-panel .bottom-panel-list {
	width: 97%;
	/*background-color: #31E708;*/
	height: 100%;
	float: left;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5px;
	padding-top: 5px;
	overflow-y:auto;
}

/*.left-container .bottom-panel .bottom-panel-list > div {
	height: 100%;
}*/

/*.left-container .bottom-panel .bottom-panel-list p {
	background-color: #C0FCB5;
	margin: 3px 0;
	line-height: 30px;
	text-align: center;
}*/

.left-container .bottom-panel .bottom-panel-list .vehicle {
	width: 100%;
	height: 30px;
	background-color: #C0FCB5;
	margin: 3px 0;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
}

.left-container .bottom-panel .bottom-panel-list .vehicle > div {
	float: left;
}

.left-container .bottom-panel .bottom-panel-list .vehicle .name {
	height: 100%;
	width: 40%;
}

.left-container .bottom-panel .bottom-panel-list .vehicle .battery {
	height: 100%;
	width: 10%;
}
/*.left-container .bottom-panel .bottom-panel-list .vehicle .battery img{
	height: 100%;
	width: 100%;
}*/

.left-container .bottom-panel .bottom-panel-list .vehicle .status {
	height: 100%;
	width: 50%;
}

.right-container {

	height: 100%;
	background-color: #EFD9CD;
	padding-right: 0px;
}



.right-container .elements-blocks {
	height: 70%;
	background-color: #D2FEBD;
}


.right-container .elements-blocks .elements-blocks-title{
	height: 10%;
	background-color: #D2FEBD;
}
/*暂时 待删除*/
/*.elements-blocks .elements-content img {
	width: 100%;
	height: 70%;
}*/

.elements-blocks .elements-content {
	display: block;
	height: 90%;
	overflow-y:auto;
}

.elements-blocks .blocks-content {
	display: none;
	height: 90%;
	overflow-y:auto;
}

.right-container .properties {
	height: 30%;
	background-color: #FEF8BD;
	overflow-y:auto;
}

.right-container .properties table {
	/*border:1;*/
	width: 100%;
}

.right-container .properties table th {
	width: 50%
}

/*右下角table样式*/
.right-container .properties .table-head {
	padding-right:17px;
	background-color:#999;
	color:#000;
	height: 10%;
}

.right-container .properties .table-head table th {
	width: 10%;
	padding-left: 5px;
}

.right-container .properties .table-body {
	width: 100%;
	height: 100%px;
	overflow-y: scroll;
	height: 80%;
}

.right-container .properties .table-body table td {
	width: 10%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 5px;

}

.right-container .properties .table-head table,
.table-body table {
	width: 100%;
	table-layout: fixed;
}

.right-container .properties .table-body table tr:nth-child(2n+1) {
	background-color: #FEB98B;
}


/*sidebar left css*/
#left-sidebar {
	/*background-color: #32FA0F;*/
	height: 80%;
	min-width: 400px;
	margin-top: 70px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 30px 20px 30px 10px;
	min-height: 460px;
}


#left-sidebar .content {
	height: 100%;
	min-height: 400px;
	background-color: #C0C8C4;
	padding: 30px 20px 30px 20px;
}
#left-sidebar .content .simulation {
	width: 100%;
	display: inline-block;
}

#left-sidebar .content .simulation p {
	display: inline;
	padding-right: 20px;
	font-family: "Arial Normal", "Arial";
	font-weight: 400;
	font-style: normal;
}


#left-sidebar .content .simulation input[type=number] {
	width: 90px;
}

#left-sidebar .content .simulation input[type=button] {
	width: 50px;
	margin-left: 50px;
}

#left-sidebar .content  .adapter {
	/*background-color: red;*/
	height: 45%;
}

#left-sidebar .content .line hr {
	height: 1px;
	border: none;
	border-top: 1px solid #555555;
}



/*侧边栏表格*/
#left-sidebar .content .adapter .table-head {
	padding-right:17px;
	background-color:#999;
	color:#000;
	height: 10%;
}

#left-sidebar .content .adapter .table-head table th {
	width: 10%;
	padding-left: 5px;
}

#left-sidebar .content .adapter .table-body {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	height: 80%;
	border-left-style: solid;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#left-sidebar .content .adapter .table-body table td {
	width: 10%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 5px;

}

#left-sidebar .content .adapter .table-head table,
.table-body table {
	width: 100%;
	table-layout: fixed;
}

#left-sidebar .content .adapter .table-body table tr {
	/*text-align: center;*/
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#left-sidebar .content .adapter .table-body table tr:nth-child(2n+1) {
	background-color: #FEB98B;
	/*border-bottom-width: 1px;
	border-bottom-style: solid;*/
}

#left-sidebar .content .settinginfo {
	  border: 2px groove;
	  height: 40%;
	  padding-top:20px; 
}

#left-sidebar .content .settinginfo div {
	margin: 3px 20px 3px 20px;

	display: inline-block;
}

#left-sidebar .content .settinginfo div > p {
	float: left;
	width: 90px;
}

#left-sidebar .content .settinginfo div > input[type=text] {
	float: left;
	width: 160px;
}

#left-sidebar .content .settinginfo div > input[type=button] {
	width: 123px;
}

