body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
  opacity:0.5;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
}
#u1 {
  position:absolute;
  left:2px;
  top:442px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:700px;
  width:1250px;
  height:200px;
  opacity:0.300000011920929;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:200px;
}
#u3 {
  position:absolute;
  left:2px;
  top:92px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1200px;
  top:100px;
  width:50px;
  height:600px;
  opacity:0.200000002980232;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:600px;
}
#u5 {
  position:absolute;
  left:2px;
  top:292px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1210px;
  top:156px;
  width:30px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1210px;
  top:288px;
  width:30px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1210px;
  top:245px;
  width:30px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1211px;
  top:201px;
  width:30px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1210px;
  top:330px;
  width:30px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1211px;
  top:453px;
  width:30px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1212px;
  top:496px;
  width:30px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1211px;
  top:371px;
  width:30px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1211px;
  top:412px;
  width:30px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:100px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:100px;
}
#u25 {
  position:absolute;
  left:2px;
  top:42px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:400px;
  top:0px;
  width:800px;
  height:100px;
  font-size:48px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:100px;
}
#u27 {
  position:absolute;
  left:2px;
  top:22px;
  width:796px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:100px;
  width:1200px;
  height:600px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:600px;
}
#u29 {
  position:absolute;
  left:2px;
  top:292px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1212px;
  top:537px;
  width:30px;
  height:30px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:1211px;
  top:581px;
  width:30px;
  height:30px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1209px;
  top:621px;
  width:30px;
  height:30px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1210px;
  top:663px;
  width:30px;
  height:30px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1100px;
  top:650px;
  width:60px;
  height:30px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u38_input:disabled {
  color:grayText;
}
#u39 {
  position:absolute;
  left:1210px;
  top:110px;
  width:30px;
  height:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:700px;
  width:30px;
  height:200px;
  font-size:28px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:200px;
}
#u42 {
  position:absolute;
  left:0px;
  top:34px;
  width:30px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:50px;
  top:720px;
  width:160px;
  height:40px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u44 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1050px;
  top:720px;
  width:160px;
  height:40px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:650px;
  top:720px;
  width:160px;
  height:40px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:450px;
  top:720px;
  width:160px;
  height:40px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u50 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:250px;
  top:720px;
  width:160px;
  height:40px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:850px;
  top:720px;
  width:160px;
  height:40px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u54 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:50px;
  top:783px;
  width:160px;
  height:40px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u56 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:1050px;
  top:783px;
  width:160px;
  height:40px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u58 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:650px;
  top:783px;
  width:160px;
  height:40px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u60 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:450px;
  top:783px;
  width:160px;
  height:40px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u62 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:250px;
  top:783px;
  width:160px;
  height:40px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u64 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:850px;
  top:783px;
  width:160px;
  height:40px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u66 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:50px;
  top:850px;
  width:160px;
  height:40px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u68 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1050px;
  top:850px;
  width:160px;
  height:40px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u70 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:650px;
  top:850px;
  width:160px;
  height:40px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u72 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:450px;
  top:850px;
  width:160px;
  height:40px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u74 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:250px;
  top:850px;
  width:160px;
  height:40px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u76 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:850px;
  top:850px;
  width:160px;
  height:40px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u78 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:1250px;
  top:100px;
  width:350px;
  height:30px;
}
#u79_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:356px;
  height:36px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:35px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:117px;
  top:0px;
  width:117px;
  height:30px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:234px;
  top:0px;
  width:116px;
  height:30px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:1250px;
  top:130px;
  width:355px;
  height:775px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:117px;
  top:0px;
  width:117px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u91 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:234px;
  top:0px;
  width:116px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u93 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:30px;
  width:117px;
  height:30px;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u95 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:117px;
  top:30px;
  width:117px;
  height:30px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u97 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:234px;
  top:30px;
  width:116px;
  height:30px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u99 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:0px;
  top:60px;
  width:117px;
  height:30px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u101 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:117px;
  top:60px;
  width:117px;
  height:30px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u103 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:234px;
  top:60px;
  width:116px;
  height:30px;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u105 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:0px;
  top:90px;
  width:117px;
  height:30px;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u107 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:117px;
  top:90px;
  width:117px;
  height:30px;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u109 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:234px;
  top:90px;
  width:116px;
  height:30px;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u111 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:0px;
  top:120px;
  width:117px;
  height:30px;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u113 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:117px;
  top:120px;
  width:117px;
  height:30px;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u115 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:234px;
  top:120px;
  width:116px;
  height:30px;
  text-align:center;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u117 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:0px;
  top:150px;
  width:117px;
  height:35px;
  text-align:center;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:35px;
}
#u119 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:117px;
  top:150px;
  width:117px;
  height:35px;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:35px;
}
#u121 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:234px;
  top:150px;
  width:116px;
  height:35px;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
}
#u123 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:0px;
  top:185px;
  width:117px;
  height:585px;
  text-align:center;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:585px;
}
#u125 {
  position:absolute;
  left:2px;
  top:284px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:117px;
  top:185px;
  width:117px;
  height:585px;
  text-align:center;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:585px;
}
#u127 {
  position:absolute;
  left:2px;
  top:284px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:234px;
  top:185px;
  width:116px;
  height:585px;
  text-align:center;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:585px;
}
#u129 {
  position:absolute;
  left:2px;
  top:284px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:420px;
  top:273px;
  visibility:hidden;
}
#u130_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u130_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:550px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:550px;
}
#u132 {
  position:absolute;
  left:2px;
  top:267px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:0px;
  top:30px;
  width:700px;
  height:520px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:520px;
}
#u134 {
  position:absolute;
  left:2px;
  top:252px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:670px;
  top:0px;
  width:30px;
  height:30px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u136 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
